.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.card.no-gap {
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/** ==============common================ */
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}
/** ==============HEADER================ */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-menu-list,
.header-address-list {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
  padding: 16px 0;
}
.logo-color {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-navigation {
  margin-right: auto;
}
.button-menu-mobile {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  fill: #2f2f37;
  display: flex;
}

@media screen and (min-width: 768px) {
  .button-menu-mobile {
    display: none;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
    padding: 24px 0;
  }

  .header-menu-list {
    display: flex;
    gap: 40px;
  }

  .header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #2e2f42;
  }

  .header-menu-link-now {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: #404bbf;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }
  .header-address-link {
    color: #434455;
    display: block;
  }
  .header-menu-link-now::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    height: 4px;
    background: #404bbf;
  }
  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #404bbf;
  }

  .header-menu-link:hover,
  .header-menu-link:focus {
    color: #404bbf;
  }

  .header-address-link:hover,
  .header-address-link:focus {
    color: #404bbf;
  }
  .header-address-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .logo {
    margin-right: 76px;
  }
  .header-address-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/** ==============hero================ */
.hero {
  background: rgba(46, 47, 66, 0.7);
  box-sizing: content-box;
  background-image: url("../images/1mob/people-mob.jpg");
  background-repeat: no-repeat;

  background-size: cover;
  text-align: center;
  max-width: 320px;
  min-height: 432px;
}

@media screen and (max-width: 767px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url("../images/1mob/people-mob@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    min-height: 436px;
    background-image: url("../images/2tablet/people-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../images/2tablet/people-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    min-height: 600px;
    background-image: url(../images/3desk/people-office-desc.jpg);
  }
}
@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .hero {
    background-image: url(../images/3desk/people-office-desc@2x.jpg);
    background-color: #2e2f42;
  }
}
.hero-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  display: block;
  width: 216px;
  height: 160px;
  padding-top: 72px;
  margin: 0 auto 160px;
}

.hero-button {
  font-weight: 500;
  background-color: #4d5ae5;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
  .hero-tittle {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    max-height: 120px;
    margin: 0 auto;
    padding-bottom: 48px;
    box-sizing: border-box;
  }
  .hero-button {
    font-weight: 500;
    background-color: #4d5ae5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
/** ==============features================ */
.features {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.12;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .features-subtitle {
    width: 356px;
    height: auto;
    text-align: left;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .features-subtitle {
    width: 264px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

.visually-hidden {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-icons {
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.features-icon {
  height: 112px;
}

@media screen and (max-width: 1157px) {
  .features-icons {
    display: none;
  }
  .features-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    max-width: 1128px;
  }
}
@media screen and (max-width: 767px) {
  .features-list {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 72px 24px;
  }
}

@media screen and(min-width:768px) {
  .features-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and(min-width:1158px) {
  .features-item {
    width: calc((100% - 72px) / 4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.features-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width: 1158px) {
  .features-item-text {
    font-weight: 400;
  }
}
.work-team {
  background-color: #f4f4fd;
  margin: 96px 16px 0 16px;
  padding-bottom: 40px;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  background-color: #f4f4fd;
  text-transform: capitalize;
  margin-bottom: 72px;
  margin-top: 96px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 60px;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 768px) {
  .team-item {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;

    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .team-item-list {
    display: flex;
    flex-direction: calc((100% - 24px) / 2);
    gap: 24px;
    flex-wrap: wrap;
  }
}
.team-item-list {
  max-width: 264px;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
@media screen and (min-width: 1158px) {
  .team-item {
    flex-basis: calc((100% -3 * 24px) / 4);
  }
  .team-item-list {
    max-width: 1128px;
  }
}
.team-image {
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
}

.team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
.messenger-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  width: 232px;
  height: 40px;
  margin-left: 16px;
  margin-top: 28px;
}

.messenger-icon {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 32px;
}

.social-icon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
